.footer {
    background-color: var(--cor1);
    color: #fff;
    padding: 50px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.box_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_social h2{
    color: var(--cor4);
}
.social_img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 30px;
    gap: 40px;
    border-radius: 10px;
    background-color: white;

}
.social_img img{
    width: 34px;
}
.footer-content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* border-top: 2px solid var(--cor2); Adiciona uma linha superior decorativa */
}

.footer-section {
    width: 100%;
    /* margin: 20px; */
}

.footer-section h2 {
    color: var(--cor4);
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 14px;
    color: var(--cor2);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #e74c3c; */
}

.footer-section ul li a {
    color: var(--cor2);
    width:100px;
    text-align: left;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #3ce761;
}
.company-info p{
    text-align: left;
}
.footer-section .social-links ul {
    display: flex; 
    padding: 0;
   
}


.footer-section .social-links ul li {
    /* margin: 0 10px; */
    text-align: left;
    transition: transform 0.3s ease;
}

.footer-section .social-links ul li:hover {
    transform: scale(1.2);
}

.content_endereços{
    /* background-color: #e74c3c; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: left; */
    gap: 20px;
}
.content_endereços p{
    text-align: left;
}
.footer-bottom {
    background-color: var(--cor2);
    padding: 15px 0;
    margin-top: 40px;
    font-size: 12px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom i {
    color: #e74c3c; /* Coração em vermelho */
}

/* Responsividade */
@media (max-width: 800px) {
    .box_social h2{
        font-size: 20px;
    }
    .social_img{
        width: 100%;
        border-radius: 0;
        /* gap: 20px; */
    }
    .footer-content {
        flex-direction: column;
        text-align: left;
    }

    .footer-section {
        margin-bottom: 20px;
    }
    .footer-section ul li {
        justify-content: left;
    }
    .content_endereços{
        align-items: normal;
    }
    
}
